<div class="container">
  <!-- Iconos -->
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
      />
    </symbol>
    <symbol
      id="bi-exclamation-circle-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
      />
    </symbol>
    <symbol
      id="hourglass-bottom"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2z"
      />
    </symbol>
    <symbol
      id="info-circle-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
      />
    </symbol>
    <symbol
      id="bi-arrow-counterclockwise"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"
      />
      <path
        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"
      />
    </symbol>
    <symbol
      id="bi-play-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"
      />
    </symbol>
  </svg>
  <!-- Fin Iconos -->

  <!-- Temporizador -->
  <div class="d-flex justify-content-center align-items-center">
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="horglass:"
        aria-hidden="true"
      >
        <use xlink:href="#hourglass-bottom" />
      </svg>
      <div>
        <p>
          Tiempo transcurrido: <strong>{{ formattedTime }}</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- Fin Temporizador -->

  <!-- Inicio Titulo - Botones Ayuda y Reinciar -->
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="me-5">2 - 🌄 Explorando el Paisaje de los Andes 🌄</h1>
    <button
      *ngIf="!isTimerStarted"
      class="btn btn-info d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="info:"
        aria-hidden="true"
      >
        <use xlink:href="#info-circle-fill" />
      </svg>
      <div>
        <p>Ayuda</p>
      </div>
    </button>

    <button
      *ngIf="isTimerStarted"
      class="btn btn-info d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      (click)="toggleOffCanvas()"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="info:"
        aria-hidden="true"
      >
        <use xlink:href="#info-circle-fill" />
      </svg>
      <div>
        <p>Ayuda</p>
      </div>
    </button>

    <button
      *ngIf="!isTimerStarted"
      class="btn btn-warning d-flex align-items-center"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="arrow-counter:"
        aria-hidden="true"
      >
        <use xlink:href="#bi-play-fill" />
      </svg>
      <div>
        <p>Iniciar</p>
      </div>
    </button>

    <button
      *ngIf="isTimerStarted"
      class="btn btn-warning d-flex align-items-center"
      type="button"
      data-bs-toggle="offcanvas"
      (click)="restartAll()"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="arrow-counter:"
        aria-hidden="true"
      >
        <use xlink:href="#bi-arrow-counterclockwise" />
      </svg>
      <div>
        <p>Reiniciar</p>
      </div>
    </button>
  </div>
  <!-- Fin Titulo - Botones Ayuda y Reinciar -->

  <!-- Inicio offCanvas principal -->
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="static"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header text-center justify-content-center">
      <h2 class="offcanvas-title" id="offcanvasScrollingLabel">
        🌄 Explorando el Paisaje de los Andes 🌄
      </h2>
      <button
        *ngIf="isTimerStarted"
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body text-center justify-content-center">
      <div class="video-thumbnail-container">
        <div
          class="thumbail"
          role="button"
          tabindex="0"
          aria-label="Abrir video sobre cuencas hidrograficas"
          (click)="abrirModalVideo()"
          (keydown)="manejarTeclado($event)"
        >
          <iframe
            width="fill"
            height="fill"
            src="https://www.youtube.com/embed/MSdgdfOx_1U?si=KYt207UFrAi9qfKl&amp;controls=0&cc_load_policy=1&cc_lang_pref=es"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
          </iframe>
          <div class="overlay">
            <button class="btn btn-primary">Saber más</button>
          </div>
        </div>
      </div>

      <div class="alert alert-warning" role="alert" style="max-width: 100%">
        <p>
          👋 ¡Hola, explorador! Hoy vamos a descubrir el increíble paisaje de
          los Andes, también conocido como la Sierra. ¿Estás listo para aprender
          y jugar? 🎒✨
        </p>
        <hr />
        <p>1️⃣ ¿Cómo es el paisaje de los Andes?</p>
        <p>
          Los Andes son montañas muy altas con climas fríos y templados. En este
          lugar podemos encontrar:
        </p>
        <ul style="list-style-type: none">
          <li>>✅ Montañas nevadas 🏔️</li>
          <li>>✅ Valles y colinas ⛰️</li>
          <li>✅ Casas de adobe o piedra 🏡</li>
          <li>✅ Lagos y ríos 🌊</li>
        </ul>
      </div>

      <div class="alert alert-info" role="alert" style="max-width: 100%">
        <p>2️⃣ Actividad: Encuentra los elementos del paisaje andino</p>
        <p>
          📌 Instrucciones: Mira las imágenes que te mostramos y selecciona solo
          las que pertenecen al paisaje de los Andes.
        </p>
        <p>🎯 Ejemplo:</p>
        <ul style="list-style-type: none">
          <li>Si ves una Montaña 🏔️ márcala ✅.</li>
          <li>
            Si ves una palmera 🌴, no la marques ❌ (porque crece en la costa).
          </li>
        </ul>
        <p>
          💡 Consejo: Piensa en lugares altos y fríos, con montañas y animales
          resistentes al frío.
        </p>
        <p>🎉 ¡Diviértete descubriendo el hermoso paisaje andino! 🌄💖</p>
        <hr />
        <button
          *ngIf="!isTimerStarted"
          class="btn btn-info"
          data-bs-dismiss="offcanvas"
          (click)="startTimer()"
        >
          <p>Comenzar</p>
        </button>
      </div>
    </div>
  </div>
  <!-- Fin offCanvas Principal -->

  <!-- Inicio Modal Video -->
  <div
    class="modal fade"
    id="videoModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="videoModalLabel"
    aria-hidden="true"
    role="dialog"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="videoModalLabel">Saber más</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <iframe
            id="videoPlayer"
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/MSdgdfOx_1U?si=KYt207UFrAi9qfKl&cc_load_policy=1&cc_lang_pref=es&autoplay=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Video -->

  <!-- Descripción -->
  <div class="text-center">
    <div class="alert alert-info" role="alert" tabindex="0">
      <p>
        SELECCIONA ELEMENTOS QUE REPRESENTAN EL PAISAJE DE LOS ANDES O SIERRA
      </p>
    </div>
  </div>
  <!-- Fin Descripción -->

  <!-- Área de juego -->
  <div class="d-flex justify-content-center">
    <div
      class="row row-cols-1 row-cols-md-3 g-4 text-center w-75 d-flex justify-content-center align-items-center"
    >
      <div class="col">
        <div
          class="card h-100 bg-body-secondary"
          tabindex="0"
          [class.disabled]="!isTimerStarted"
          (click)="
            isTimerStarted && !allCorrectSelected && handleCardClick(1, 'warning')
          "
          (keydown)="onKeyPress($event, 1, 'info')"
          [attr.aria-disabled]="!isTimerStarted"
          role="button"
        >
          <div class="card-body">
            <img
              src="../../../assets/cotopaxi.jpg"
              class="card-img-top"
              draggable="false"
              alt="Volcán Cotopaxi"
            />
            <div class="card-footer">
              <div
                *ngIf="alerts[1]?.type === 'info'"
                class="alert alert-success mt-2 text-center align-items-center"
                role="alert"
                aria-live="polite"
              >
                <h4
                  class="alert-heading d-flex align-items-center justify-content-center"
                >
                  <svg
                    class="bi flex-shrink-0 me-2 icon-alert"
                    role="img"
                    aria-label="info:"
                    aria-hidden="true"
                  >
                    <use xlink:href="#check-circle-fill" />
                  </svg>
                  <p>¡Correcto!</p>
                </h4>
                <hr />
                <p>
                  El volcán Cotopaxi es una montaña cubierta de nieve, y es uno
                  de los volcanes mas famosos del mundo.
                </p>
              </div>
              <div
                *ngIf="alerts[1]?.type === 'warning'"
                class="alert alert-danger mt-2"
                role="alert"
                aria-live="polite"
              >
                <h4
                  class="alert-heading d-flex align-items-center justify-content-center"
                >
                  <svg
                    class="bi flex-shrink-0 me-2 icon-alert"
                    role="img"
                    aria-label="info:"
                    aria-hidden="true"
                  >
                    <use xlink:href="#bi-exclamation-circle-fill" />
                  </svg>
                  <p>¡Incorrecto!</p>
                </h4>
                <hr />
                <p>
                  Recuerda lo que aprendimos sobre el agua en la naturaleza.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card h-100 bg-body-secondary"
          tabindex="0"
          [class.disabled]="!isTimerStarted"
          (click)="
            isTimerStarted &&
              !allCorrectSelected &&
              handleCardClick(2, 'warning')
          "
          (keydown)="onKeyPress($event, 2, 'warning')"
          [attr.aria-disabled]="!isTimerStarted"
          role="button"
        >
          <div class="card-body">
            <img
              src="../../../assets/bosque-oriente.jpg"
              class="card-img-top"
              draggable="false"
              alt="Paisaje típico de la Amazonía"
            />
            <div
              *ngIf="alerts[2]?.type === 'info'"
              class="alert alert-success mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <p>¡Correcto!</p>
              </h4>
              <hr />
              <p>
                Un bosque de la Amazonía es una gran selva llena de árboles
                enormes, ríos y muchos animales como monos, jaguares y loros de
                colores.
              </p>
            </div>
            <div
              *ngIf="alerts[2]?.type === 'warning'"
              class="alert alert-danger mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#bi-exclamation-circle-fill" />
                </svg>
                <p>¡Incorrecto!</p>
              </h4>
              <hr />
              <p>Recuerda lo que aprendimos sobre el agua en la naturaleza.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card h-100 bg-body-secondary"
          tabindex="0"
          [class.disabled]="!isTimerStarted"
          (click)="
            isTimerStarted && !allCorrectSelected && handleCardClick(3, 'info')
          "
          (keydown)="onKeyPress($event, 3, 'info')"
          [attr.aria-disabled]="!isTimerStarted"
          role="button"
        >
          <div class="card-body">
            <img
              src="../../../assets/valles.jpg"
              class="card-img-top"
              draggable="false"
              alt="Valle del río Chota"
            />
            <div
              *ngIf="alerts[3]?.type === 'info'"
              class="alert alert-success mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <p>¡Correcto!</p>
              </h4>
              <hr />
              <p>
                El Valle del Chota es un lugar bonito en Ecuador, lleno de
                montañas, ríos y campos verdes.
              </p>
            </div>
            <div
              *ngIf="alerts[3]?.type === 'warning'"
              class="alert alert-danger mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#bi-exclamation-circle-fill" />
                </svg>
                <p>¡Incorrecto!</p>
              </h4>
              <hr />
              <p>Recuerda lo que aprendimos sobre el agua en la naturaleza.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card h-100 bg-body-secondary"
          tabindex="0"
          [class.disabled]="!isTimerStarted"
          (click)="
            isTimerStarted && !allCorrectSelected && handleCardClick(4, 'info')
          "
          (keydown)="onKeyPress($event, 4, 'info')"
          [attr.aria-disabled]="!isTimerStarted"
          role="button"
        >
          <div class="card-body">
            <img
              src="../../../assets/colinas.jpg"
              class="card-img-top"
              draggable="false"
              alt="Colina de El Panecillo"
            />
            <div
              *ngIf="alerts[4]?.type === 'info'"
              class="alert alert-success mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <p>¡Correcto!</p>
              </h4>
              <hr />
              <p>
                La Colina de El Panecillo esta ubicada en el centro de Quito. En
                su cima hay una estatua muy grande de la Virgen de Quito.
              </p>
            </div>
            <div
              *ngIf="alerts[4]?.type === 'warning'"
              class="alert alert-danger mt-2"
              role="alert"
              aria-live="polite"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#bi-exclamation-circle-fill" />
                </svg>
                <p>¡Incorrecto!</p>
              </h4>
              <hr />
              <p>Recuerda lo que aprendimos sobre el agua en la naturaleza.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card h-100 bg-body-secondary"
          tabindex="0"
          [class.disabled]="!isTimerStarted"
          (click)="
            isTimerStarted &&
              !allCorrectSelected &&
              handleCardClick(5, 'warning')
          "
          (keydown)="onKeyPress($event, 5, 'warning')"
          [attr.aria-disabled]="!isTimerStarted"
          role="button"
        >
          <div class="card-body">
            <img
              src="../../../assets/atacames.webp"
              class="card-img-top"
              draggable="false"
              alt="Playa Atacames"
            />
            <div
              *ngIf="alerts[5]?.type === 'info'"
              class="alert alert-success mt-2"
              role="alert"
            >
              <h4
                class="alert-heading d-flex align-items-center justify-content-center"
              >
                <svg
                  class="bi flex-shrink-0 me-2 icon-alert"
                  role="img"
                  aria-label="info:"
                  aria-hidden="true"
                >
                  <use xlink:href="#check-circle-fill" />
                </svg>
                <p>¡Correcto!</p>
              </h4>
              <hr />
              <p>
                La playa de Atacames es una hermosa playa, donde el
                mar es tranquilo y las olas no son muy grandes. Es un lugar
                ideal para nadar, hacer castillos de arena y disfrutar del sol.
              </p>
            </div>
            <div
              *ngIf="alerts[5]?.type === 'warning'"
              class="alert alert-danger mt-2"
              role="alert"
            >
            <h4
            class="alert-heading d-flex align-items-center justify-content-center"
          >
            <svg
              class="bi flex-shrink-0 me-2 icon-alert"
              role="img"
              aria-label="info:"
              aria-hidden="true"
            >
              <use xlink:href="#bi-exclamation-circle-fill" />
            </svg>
            <p>¡Incorrecto!</p>
          </h4>
          <hr />
          <p>
            Recuerda lo que aprendimos sobre el agua en la naturaleza.
          </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Alert for Completion -->
      <!-- <div
        *ngIf="allCorrectSelected"
        class="alert alert-success mt-4"
        role="alert"
      >
        ¡Has seleccionado las opciones correctas!
      </div> -->
    </div>
  </div>

  <!-- Modal Success -->
  <div
    class="modal fade"
    id="completedModal"
    tabindex="-1"
    aria-labelledby="completedModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="completedModalLabel">¡Correcto!</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="alert alert-success text-center" role="alert">
            Tiempo transcurrido: <strong>{{ formattedTime }}</strong>
            <br />
            Puntuación: <strong>{{ puntuacion }}</strong>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Success -->

  <!-- Encabezado:

header: Contenedor del temporizador y botón de ayuda.
timer: Contenedor del temporizador.
time: Span para mostrar el tiempo restante.
help-button: Botón de ayuda.
Título:

game-title: Contenedor del título y subtítulo.
Zona de selección de imágenes:

image-selection: Contenedor para las imágenes seleccionables.
Cada imagen está dentro de un div con clase selectable-image y un ID único como image-1, image-2, etc.
Las imágenes deben llamarse image1.png, image2.png, etc., y ubicarse en el mismo directorio que este archivo HTML, o ajustar las rutas según corresponda.
Botones:

menu-container: Contenedor para los botones.
menu-button: Botón para regresar al menú.
restart-button: Botón para reiniciar el juego. -->
</div>
