.img-thumbnail{
    max-block-size: 200px;
}

.card-img-top{
    max-block-size: 100px;
    max-width: fit-content;    
}
.container{
    margin-top: 30px !important;
    background-color: #c6f5c6; /* Fondo verde claro */
    padding-top: 30px;
    padding-bottom: 30px;
}
