<div class="container">
    
    
    <div class="text-center">
      <h1>HUMANOS EN EL ESPACIO</h1>
        <img src="../../../assets/ecuador-map.png" class="img-thumbnail" alt="Ecuador map">
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
            <div class="col">
              <div class="card">
                <img src="../../../assets/star-rating-1.png" class="card-img-top mx-auto p-2" alt="Card image 1">
                <div class="card-body">
                  <h4 class="card-title">NIVEL 1</h4>
                  <p class="card-text">Descripción nivel 1.</p>
                  <!-- <a href="level1" class="btn btn-primary">Iniciar Juego</a> -->
                  <a class="btn btn-info" routerLink="level1" [ngClass]="{active: menuOption == 'level1'}" (click)="onOption('level1')">Iniciar Nivel 1</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/star-rating-3.png" class="card-img-top mx-auto p-2" alt="Card image 2">
                <div class="card-body">
                    <h4 class="card-title">NIVEL 2</h4>
                    <p class="card-text">Descripción nivel 2.</p>
                    <a class="btn btn-info" routerLink="level2" [ngClass]="{active: menuOption == 'level2'}" (click)="onOption('level2')">Iniciar Nivel 2</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../../../assets/star-rating-5.png" class="card-img-top mx-auto p-2" alt="Card image 3">
                <div class="card-body">
                    <h4 class="card-title">NIVEL 3</h4>
                    <p class="card-text">Descripción nivel 3.</p>
                    <a class="btn btn-info" routerLink="level" [ngClass]="{active: menuOption == 'level3'}" (click)="onOption('level3')">Iniciar Nivel 3</a>
                </div>
              </div>
            </div>       
    </div>    
</div>
