<div class="container">
  <!-- Iconos -->
  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
      />
    </symbol>
    <symbol
      id="bi-exclamation-circle-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
      />
    </symbol>
    <symbol
      id="hourglass-bottom"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702s.18.149.5.149.5-.15.5-.15v-.7c0-.701.478-1.236 1.011-1.492A3.5 3.5 0 0 0 11.5 3V2z"
      />
    </symbol>
    <symbol
      id="info-circle-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
      />
    </symbol>
    <symbol
      id="bi-arrow-counterclockwise"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2z"
      />
      <path
        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466"
      />
    </symbol>
    <symbol
      id="bi-play-fill"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path
        d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"
      />
    </symbol>
    <symbol
      id="bi-floppy"
      viewBox="0 0 16 16"
      width="30"
      height="30"
      fill="currentColor"
    >
      <path d="M11 2H9v3h2z" />
      <path
        d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z"
      />
    </symbol>
  </svg>
  <!-- Fin Iconos -->

  <!-- Temporizador -->
  <div class="d-flex justify-content-center align-items-center">
    <div class="alert alert-warning d-flex align-items-center" tabindex="0">
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-hidden="true"
      >
        <use xlink:href="#hourglass-bottom" />
      </svg>
      <div>
        <p>
          Tiempo transcurrido:
          <strong id="time" aria-live="off">{{ formattedTime }}</strong>
        </p>
      </div>
    </div>
  </div>
  <!-- Fin Temporizador -->

  <!-- Inicio Titulo - Botones Ayuda y Reinciar -->
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="me-5" tabindex="0">
      1 - 💦 Explorando el Agua y las Cuencas 💦
    </h1>
    <button
      *ngIf="!isTimerStarted"
      class="btn btn-info d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="info:"
        aria-hidden="true"
      >
        <use xlink:href="#info-circle-fill" />
      </svg>
      <div>
        <p>Ayuda</p>
      </div>
    </button>

    <button
      *ngIf="isTimerStarted"
      class="btn btn-info d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      (click)="toggleOffCanvas()"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="info:"
        aria-hidden="true"
      >
        <use xlink:href="#info-circle-fill" />
      </svg>
      <div>
        <p>Ayuda</p>
      </div>
    </button>

    <button
      *ngIf="!isTimerStarted && !completed"
      class="btn btn-warning d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasScrolling"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="arrow-counter:"
        aria-hidden="true"
      >
        <use xlink:href="#bi-play-fill" />
      </svg>
      <div>
        <p>Iniciar</p>
      </div>
    </button>

    <button
      *ngIf="isTimerStarted || completed"
      class="btn btn-warning d-flex align-items-center me-5"
      type="button"
      data-bs-toggle="offcanvas"
      (click)="restartAll()"
      aria-controls="offcanvasScrolling"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="arrow-counter:"
        aria-hidden="true"
      >
        <use xlink:href="#bi-arrow-counterclockwise" />
      </svg>
      <div>
        <p>Reiniciar</p>
      </div>
    </button>

    <button
      *ngIf="completed && !saved"
      class="btn btn-outline-success d-flex align-items-center"
      type="button"
      data-bs-toggle="completedModal"
      aria-controls="completedModal"
      (click)="showModalCompleted()"
    >
      <svg
        class="bi flex-shrink-0 me-2 icon-alert"
        role="img"
        aria-label="arrow-counter:"
        aria-hidden="true"
      >
        <use xlink:href="#bi-floppy" />
      </svg>
      <div>
        <p>Guardar</p>
      </div>
    </button>
  </div>
  <!-- Fin Titulo - Botones Ayuda y Reinciar -->

  <!-- Incio offCanvas principal -->
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="static"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header text-center justify-content-center">
      <h2 class="offcanvas-title" id="offcanvasScrollingLabel" tabindex="0">
        💦 Explorando el Agua y las Cuencas 💦
      </h2>
      <button
        *ngIf="isTimerStarted"
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body text-center justify-content-center">
      <div class="video-thumbnail-container">
        <div
          class="thumbail"
          role="button"
          tabindex="0"
          aria-label="Abrir video sobre cuencas hidrograficas"
          (click)="abrirModalVideo()"
          (keydown)="manejarTeclado($event)"
        >
          <iframe
            width="fill"
            height="fill"
            src="https://www.youtube.com/embed/8ajxqtQLRoM?si=d_GG6Nnpypdqwh3E&amp;controls=0&cc_load_policy=1&cc_lang_pref=es"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
          </iframe>
          <div class="overlay">
            <button class="btn btn-primary">Saber más</button>
          </div>
        </div>
      </div>

      <div class="alert alert-warning" role="alert" style="max-width: 100%" tabindex="0">
        <p>
          👋 ¡Hola, pequeño explorador! Hoy aprenderemos sobre el estudio del
          agua en la naturaleza. Veremos ríos, lagunas, nevados y entenderemos
          por qué el agua es un recurso muy importante.
        </p>
        <hr />
        <p>1️⃣ ¿Qué es la Hidrografía?</p>
        <p>
          La hidrografía estudia los ríos, lagos, lagunas, nevados y todos los
          lugares donde hay agua en la naturaleza. El agua es esencial para la
          vida de las personas, los animales y las plantas.
        </p>
        <p>🌊 ¿Dónde podemos encontrar agua en la naturaleza?</p>
        <ul style="list-style-type: none">
          <li>
            ✅ Cuencas hidrográficas: Son los lugares donde nacen y se juntan
            los ríos.
          </li>
          <li>
            ✅ Ríos: Son corrientes de agua que recorren grandes distancias.
          </li>
          <li>
            ✅ Lagunas y lagos: Son cuerpos de agua que no se mueven mucho y
            pueden estar en montañas o valles.
          </li>
          <li>
            ✅ Nevados: Son montañas cubiertas de nieve que al derretirse forman
            ríos y lagunas.
          </li>
        </ul>
      </div>

      <div class="alert alert-info" role="alert" style="max-width: 100%" tabindex="0">
        <p>2️⃣ Actividad: Une el concepto con la imagen</p>
        <p>
          📌 Instrucciones: Te mostraremos diferentes imágenes relacionadas con
          el agua. Une cada imagen con su nombre correcto.
        </p>
        <p>🎯 Ejemplo:</p>
        <ul style="list-style-type: none">
          <li>
            🔵 Si ves una imagen de un nevado ❄️🏔️, únelo con la palabra
            "Nevado".
          </li>
          <li>🔵 Si ves un río 🌊, únelo con la palabra "Río".</li>
        </ul>
        <p>
          💡 Consejo: Observa bien cada imagen y piensa en lo que aprendimos
          sobre el agua en la naturaleza.
        </p>
        <p>🎉 ¡Diviértete y aprende jugando con el agua y las cuencas! 💦💙</p>
        <hr />
        <button
          *ngIf="!isTimerStarted"
          class="btn btn-info"
          data-bs-dismiss="offcanvas"
          (click)="startTimer()"
        >
          <p>Comenzar</p>
        </button>
      </div>
    </div>
  </div>
  <!-- Fin offCanvas Principal -->

  <!-- Incio Modal Video -->
  <div
    class="modal fade"
    id="videoModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="videoModalLabel"
    aria-hidden="true"
    role="dialog"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="videoModalLabel">Saber más</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Cerrar"
          ></button>
        </div>
        <div class="modal-body">
          <iframe
            id="videoPlayer"
            width="100%"
            height="400"
            src="https://www.youtube.com/embed/8ajxqtQLRoM?si=d_GG6Nnpypdqwh3E&cc_load_policy=1&cc_lang_pref=es&autoplay=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Video -->

  <!-- Descripción -->
  <div class="text-center">
    <div class="alert alert-info" role="alert" tabindex="0">
      <p>UNE EL CONCEPTO CON LA IMAGEN</p>
    </div>
  </div>

  <!-- Fin Descripción -->

  <!-- Área de juego -->
  <div class="d-flex justify-content-center">
    <div
      class="row row-cols-1 row-cols-md-2 g-3 text-center w-50 d-flex justify-content-center align-items-center"
    >
      <!-- Card 1 -->
      <div class="col">
        <div
          *ngIf="!droppedItems.has('Objeto 1') && !completed"
          class="card h-100 draggable-item bg-body-secondary"
          [attr.draggable]="isTimerStarted ? 'true' : 'false'"
          aria-grabbed="false"
          tabindex="0"
          (dragstart)="isTimerStarted ? onDragStart($event, 'Objeto 1') : null"
        >
          <div class="card-body">
            <p class="card-text text-center">CUENCA HIDROGRÁFICA</p>
          </div>
        </div>
      </div>
      <!-- fin Card 1 -->

      <!-- Card 2 -->
      <div class="col">
        <div
          class="card h-100 drop-zone"
          role="region"
          aria-dropeffect="move"
          tabindex="0"
          aria-labelledby="zona-laguna"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'Objeto 2')"
        >
          <div class="card-body image-container">
            <img
              src="../../../assets/laguna-cuicocha.jpg"
              class="card-img-top"
              draggable="false"
              alt="Laguna de Cuicocha"
            />
            <ng-container *ngIf="droppedItems.has('Objeto 2') || completed">
              <div class="alert alert-success overlay-text" role="alert">
                <h4 class="alert-heading">Correcto!</h4>
                <hr />
                <p class="card-text text-center">LAGUNA</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Fin Card 2 -->

      <!-- Card 3 -->
      <div class="col">
        <div
          *ngIf="!droppedItems.has('Objeto 2') && !completed"
          class="card h-100 draggable-item bg-body-secondary"
          [attr.draggable]="isTimerStarted ? 'true' : 'false'"
          aria-grabbed="false"
          tabindex="0"
          (dragstart)="isTimerStarted ? onDragStart($event, 'Objeto 2') : null"
        >
          <div class="card-body">
            <p class="card-text text-center">LAGUNA</p>
          </div>
        </div>
      </div>
      <!-- Fin Card 3 -->

      <!-- Card 4 -->
      <div class="col">
        <div
          class="card h-100 drop-zone"
          role="region"
          aria-dropeffect="move"
          aria-labelledby="zona-laguna"
          tabindex="0"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'Objeto 3')"
        >
          <div class="card-body image-container">
            <img
              src="../../../assets/cotopaxi.jpg"
              class="card-img-top"
              draggable="false"
              alt="Volcán Cotopaxi"
            />
            <ng-container *ngIf="droppedItems.has('Objeto 3') || completed">
              <div class="alert alert-success overlay-text" role="alert">
                <h4 class="alert-heading">Correcto!</h4>
                <hr />
                <p class="card-text text-center">NEVADO</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Fin Card 4 -->

      <!-- Card 5 -->
      <div class="col">
        <div
          *ngIf="!droppedItems.has('Objeto 3') && !completed"
          class="card h-100 draggable-item bg-body-secondary"
          [attr.draggable]="isTimerStarted ? 'true' : 'false'"
          aria-grabbed="false"
          tabindex="0"
          (dragstart)="isTimerStarted ? onDragStart($event, 'Objeto 3') : null"
        >
          <div class="card-body">
            <p class="card-text text-center">NEVADO</p>
          </div>
        </div>
      </div>
      <!-- Fin Card 5 -->

      <!-- Card 6 -->
      <div class="col">
        <div
          class="card h-100 drop-zone"
          role="region"
          aria-dropeffect="move"
          tabindex="0"
          aria-labelledby="zona-laguna"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'Objeto 4')"
        >
          <div class="card-body image-container">
            <img
              src="../../../assets/hidroelectrica.jpg"
              class="card-img-top"
              draggable="false"
              alt="hidroeléctrica Mazar"
            />
            <ng-container *ngIf="droppedItems.has('Objeto 4') || completed">
              <div class="alert alert-success overlay-text" role="alert">
                <h4 class="alert-heading">Correcto!</h4>
                <hr />
                <p class="card-text text-center">AGUA COMO RECURSO</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Fin Card 6 -->

      <!-- Card 7 -->
      <div class="col">
        <div
          *ngIf="!droppedItems.has('Objeto 4') && !completed"
          class="card h-100 draggable-item bg-body-secondary"
          [attr.draggable]="isTimerStarted ? 'true' : 'false'"
          aria-grabbed="false"
          tabindex="0"
          (dragstart)="isTimerStarted ? onDragStart($event, 'Objeto 4') : null"
        >
          <div class="card-body">
            <p class="card-text text-center">AGUA COMO RECURSO</p>
          </div>
        </div>
      </div>
      <!-- Fin Card 7 -->

      <!-- Card 8 -->
      <div class="col">
        <div
          class="card h-100 drop-zone"
          role="region"
          aria-dropeffect="move"
          tabindex="0"
          aria-labelledby="zona-cuenca"
          (dragover)="onDragOver($event)"
          (drop)="onDrop($event, 'Objeto 1')"
        >
          <div class="card-body image-container">
            <img
              src="../../../assets/cuenca-río-guayas.png"
              class="card-img-top"
              draggable="false"
              alt="Cuenca del Rio Guayas"
            />
            <ng-container *ngIf="droppedItems.has('Objeto 1') || completed">
              <div class="alert alert-success overlay-text" role="alert">
                <h4 class="alert-heading">Correcto!</h4>
                <hr />
                <p class="card-text text-center">CUENCA HIDROGRÁFICA</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!-- Fin Card 8 -->
    </div>
  </div>
  <!-- Fin área de juego -->

  <!-- Modal Error -->
  <div
    class="modal fade"
    id="errorModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="errorModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4
            class="modal-title fs-5 d-flex align-items-center justify-content-center"
            id="errorModalLabel"
          >
            <svg
              class="bi flex-shrink-0 me-2 icon-alert"
              role="img"
              aria-label="info:"
              aria-hidden="true"
            >
              <use xlink:href="#bi-exclamation-circle-fill" />
            </svg>
            <p>¡Incorrecto!</p>
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p
            *ngIf="errorMessage"
            class="alert alert-danger text-center"
            role="alert"
            id="errorMessage"
            tabindex="0"
          >
            {{ errorMessage }}
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Error -->

  <!-- Modal Success -->
  <div
    class="modal fade"
    id="completedModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="completedModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="completedModalLabel">Completado!</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p class="alert alert-success text-center" role="alert">
            Tiempo transcurrido: <strong>{{ formattedTime }}</strong>
            <br />
            Puntuación: <strong>{{ score }}</strong>
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-success"
            data-bs-dismiss="modal"
            (click)="completeActivity()"
          >
            Guardar Resultado
          </button>
          <!-- <button type="button" class="btn btn-primary" (click)="completeActivity()">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Fin Modal Success -->

  <!-- 
Encabezado y temporizador:

header: Contenedor del temporizador y botón de ayuda.
timer: Contenedor del temporizador.
time: Span que mostrará el tiempo restante.
help-button: Botón de ayuda.
Título:

game-title: Contenedor del título y subtítulo.
Zona de juego:

game-area: Contenedor principal de los pares de texto e imágenes.
Cada par tiene:
Un elemento arrastrable (draggable) con un ID único: cuenca-hidrografica, laguna, nevado, agua-recurso.
Una zona para soltar (dropzone) con IDs: drop-cuenca, drop-laguna, drop-nevado, drop-agua.
Botón de menú:

menu-container: Contenedor del botón.
menu-button: Botón para volver al menú. -->
</div>
