<div class="container mt-4">
    <h2>Formulario Final</h2>
    
    <form (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="name" name="name" required>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Fecha</label>
        <input type="text" class="form-control" [value]="date | date:'yyyy-MM-dd'" readonly>
      </div>
  
      <div class="mb-3">
        <label class="form-label">Puntuación</label>
        <input type="number" class="form-control" [value]="score" readonly>
      </div>
  
      <!-- <div class="mb-3">
        <label class="form-label">Tiempo (segundos)</label>
        <input type="number" class="form-control" [value]="time" readonly>
      </div> -->

      <div class="mb-3">
        <label class="form-label">Tiempo en Formato hh:mm:ss</label>
        <input type="text" class="form-control" [value]="formattedTime">
      </div>
  
      <button type="submit" class="btn btn-success">Guardar</button>
    </form>
  </div>
  